.container {
  background-color: #f3f3f3;
  background-image: url(/shopify_logo_large.png);
  background-size: cover;
}

.main {
  max-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}

.form {
  width: 640px;
  margin-top: 10px;
  display: flex;
}
